# Site Setting
ERROR_REPORT=0
TITLE=YourTitle
SITE_URL=http://localhost/
TAILWIND=0 # Default Bootstrap active
ALPINE_JS=0 # Default JQuery active

# Database
HOST=localhost
DB=yourDbName
USER=username
PWD=password